doctype html
html(lang='en')
  head
    title example game
    script(src="example.js")
    style
      :stylus
        body
          padding 0.5em
        .current
          background-color #ffd
        .chosen
          background-color #dfd
  body
    #loading
      :markdown
        loading loading OMG still loading is it done yet nope loading
        wow so either the gme got really slow or something went
        wrong so maybe try going back or [start over](#) if this
        doesn't go away on its own soon like within I dunno a year
        or something maybe less
    #404-pane.pane
      :markdown
        Page not found, OMG, try going back or [start over](#) maybe.
    #home.pane
      :markdown
        OMG, welcome to this game!  [START](#!)  [CREDITS](#/credits)
    #credits-pane.pane
      :markdown
        These are the credits!  Or they will be.  [Back to the top.](#)
    #game
      :markdown
        OMG, the game is in progress, but you could [quit](#) if you wanted.
      #output
