doctype html
html(lang='en')
  head
    title imbroglio
    script(src='gui.js')
    style
      :stylus
        body
          margin 0.5em
        .error
          color red
  body
    pre#ast
    pre#code
    #content
    textarea#textarea
